{$APP_DOMAIN} {
	encode zstd gzip

	@api path /api/*
	handle @api {
		reverse_proxy api:4000
	}

	handle {
		reverse_proxy web:4173
	}
}

www.{$APP_DOMAIN} {
	redir https://{$APP_DOMAIN}{uri} permanent
}
